.git
.github
.idea
.vscode
.githooks
**/target
**/*.iml
**/*.log
.env
.env.*
docker-compose*.yml
config
contracts
contract-tests/src
demo
docs
LICENSE
README.md
mvnw
mvnw.cmd
.mvn
deploy/*
!deploy/scripts
!deploy/scripts/wait-for-it.sh
